
input[type="text"], select {
  width: 100%;
  padding: 12px 14px;
  box-sizing: border-box;
  border: 1px solid #ccc;
-webkit-transition: 0.5s;
    transition: 0.5s;
outline: none;
}


input[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
 cursor: pointer;
}


div  {border-radius: 5px; 
background-color: #f2f2f2;
padding: 20px;}

input [type=text]:focus {
    border: 3px solid #d3d6d3;}

input [type=submit]:focus {
    border: 3px solid #555;}