h1 {
	font-style: normal;
	font-size: 10vw; 
	font-family: 'Trirong', serif;
	
}

h2 {
	font-style: italic;
	font-size: 40px;
	font-family: 'Sofia', sans-serif;
	
}

h3 {
	font-style: oblique;
	font-size: 2.5em;
	font-family: 'Audiowide', sans-serif;
	
}

